<div class="container" >
  <div ng-if="failJoin">
    {{failJoin}}
  </div>
  <div ng-show="username != 'delphi'">
    <div class="row">
      <div class="col-sm-12">
        <h1 style="text-align: center;">
          Who are you?
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="userName" ng-model="userName" ng-required>
          </div>
          <button type="submit" class="btn btn-default" ng-click="submitUserName()" style="margin: auto; display:block;">Join</button>
        </form>
      </div>
    </div>
  </div>

  <div ng-if="username == 'delphi'" ng-controller="DelphiController">
    <ul>
      <li ng-repeat="user in users">
        {{user.name}}
      </li>
    </ul>
    <ul>
      <li ng-repeat="delphi in delphis">
        {{delphi}}
      </li>
    </ul>
    <ul>
      <li ng-repeat="chat in chats">
        {{chat.time}}
        {{chat.name}}
        {{chat.message}}
      </li>
    </ul>
  </div>
</div>
